<!--订单：接受订单-->
<div class="page page-current">
    <header class="bar bar-nav">
        <a class="icon btn-back pull-left"
           ui-sref="crm.order.info({oid:$state.params.oid})">
            <i class="fa fa-arrow-left"></i>
            <span class="back-label"></span>
        </a>
        <h1 class="title">接受订单</h1>
    </header>
    <div class="content"
         ng-show="!loading">
        <form name="form"
              ng-submit="commitOrder(form)">
            <div class="content-block-title">订单编号</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after">{{order.no}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">提交给</div>
            <div class="list-block">
                <ul>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text"
                                           name="who"
                                           id="who"
                                           ng-model="commitOrderRequest.who"
                                           required
                                           title="提交给" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">留言</div>
            <div class="list-block">
                <ul>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <textarea name="reason"
                                              id="reason"
                                              ng-model="commitOrderRequest.reason"
                                              title="留言"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <a class="col-50 button button-big button-fill button-danger"
                       ui-sref="crm.order.info({oid:$state.params.oid})">取消
                    </a>
                    <button class="col-50 button button-big button-fill button-success"
                            type="submit">确定
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .content-block {
        margin: .75rem 0;
        padding: 0 .5rem;
    }
</style>