<!--订单：订单信息-->
<div class="page page-current">
    <header class="bar bar-nav">
        <a class="icon btn-back pull-left"
           ui-sref="crm.order.list">
            <i class="fa fa-arrow-left"></i>
            <span class="back-label"></span>
        </a>
        <a class="icon btn-menu pull-right"
           ng-click="menu()">
            <i class="fa fa-bars"></i>
        </a>
        <h1 class="title">订单信息</h1>
    </header>
    <div class="content"
         ng-show="!loading">
        <form name="form"
              ng-submit="createOrder(form)">
            <div class="content-block-title">医院</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after">{{order.hospital.base.name}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">状态</div>
                                <div class="item-after">{{order.status|orderStatus}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">备注</div>
                                <div class="item-after">{{order.notes}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-repeat="item in order.items">
                <div class="content-block-title">订单项</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">序号</div>
                                    <div class="item-after">{{item.no}}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">药品名称</div>
                                    <div class="item-after">{{item.goodsName}}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">规格型号</div>
                                    <div class="item-after">{{item.specification}}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">单位</div>
                                    <div class="item-after">{{item.unit}}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">数量</div>
                                    <div class="item-after">{{item.quantity}}</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">备注</div>
                                    <div class="item-after">{{item.notes}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>