* {
    font-family: 宋体, serif;
}

/*no content*/
.no-content {
    height: 100%;
    line-height: 20rem;
    font-size: .7rem;
    text-align: center;
}

/*title bar*/
.bar-nav .btn-menu, .btn-back {
    height: 100% !important;
    padding: .6rem .8rem !important;
    margin-right: -.5rem;
    font-size: 1rem !important;
}

.bar-nav .btn-back {
    height: 100% !important;
    padding: .55rem .8rem .55rem .4rem !important;
    margin-left: -.5rem;
    margin-right: 0;
}

.bar-nav .back-label {
    font-size: .8rem;
    top: -.05rem;
    position: relative;
}