<!--医院：医生：添加医生-->
<div class="page page-current">
    <header class="bar bar-nav">
        <a class="icon btn-back pull-left"
           ui-sref="crm.hospital.doctor.list">
            <i class="fa fa-arrow-left"></i>
            <span class="back-label"></span>
        </a>
        <h1 class="title">添加医生</h1>
    </header>
    <div class="content"
         ng-show="!loading">
        <form name="form"
              ng-submit="createDoctor(form)">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="name">姓名
                                </label>
                                <div class="item-input">
                                    <input type="text"
                                           name="name"
                                           id="name"
                                           required
                                           ng-model="doctor.name">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="email">邮箱
                                </label>
                                <div class="item-input">
                                    <input type="text"
                                           name="email"
                                           id="email"
                                           ng-model="doctor.email"
                                           ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="mobile">手机
                                </label>
                                <div class="item-input">
                                    <input type="text"
                                           name="mobile"
                                           id="mobile"
                                           ng-model="doctor.mobile"
                                           ng-pattern="/^[0-9]{11}$/">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="job">职位
                                </label>
                                <div class="item-input">
                                    <input type="text"
                                           name="job"
                                           id="job"
                                           ng-model="doctor.job">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="hospital">医院
                                </label>
                                <div class="item-input">
                                    <input type="text"
                                           name="hospital"
                                           id="hospital"
                                           ng-model="doctor.hospital">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <a class="col-50 button button-big button-fill button-danger"
                       ui-sref="crm.hospital.doctor.list">取消
                    </a>
                    <button class="col-50 button button-big button-fill button-success"
                            type="submit">添加
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .content-block {
        margin: .75rem 0;
        padding: 0 .5rem;
    }
</style>