<!--医院：订单：添加订单-->
<div ng-show="!loading">
    <form name="form"
          ng-submit="createOrder(form)">
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after">{{hospital.base.name}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="proposer">申请人
                                </label>
                                <div class="item-input">
                                    <input type="text"
                                           name="proposer"
                                           id="proposer"
                                           ng-model="order.proposer">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="notes">备注
                                </label>
                                <div class="item-input">
                                    <input type="text"
                                           name="notes"
                                           id="notes"
                                           ng-model="order.notes">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-repeat="item in order.items">
                <div class="content-block-title">订单项</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <label class="item-title label"
                                           for="no">序号
                                    </label>
                                    <div class="item-input">
                                        <input type="number"
                                               name="no"
                                               id="no"
                                               required
                                               ng-model="item.no">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <label class="item-title label"
                                           for="goodsName">药品名称
                                    </label>
                                    <div class="item-input">
                                        <input type="text"
                                               name="goodsName"
                                               id="goodsName"
                                               required
                                               ng-model="item.goodsName">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <label class="item-title label"
                                           for="specification">规格型号
                                    </label>
                                    <div class="item-input">
                                        <input type="text"
                                               name="specification"
                                               id="specification"
                                               required
                                               ng-model="item.specification">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <label class="item-title label"
                                           for="unit">单位
                                    </label>
                                    <div class="item-input">
                                        <input type="text"
                                               name="unit"
                                               id="unit"
                                               required
                                               ng-model="item.unit">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <label class="item-title label"
                                           for="quantity">数量
                                    </label>
                                    <div class="item-input">
                                        <input type="text"
                                               name="quantity"
                                               id="quantity"
                                               required
                                               ng-model="item.quantity">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <label class="item-title label"
                                           for="itemnotes">备注
                                    </label>
                                    <div class="item-input">
                                        <input type="text"
                                               name="notes"
                                               id="itemnotes"
                                               ng-model="item.notes">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content text-center"
                             style="display: block;">
                            <a class="btn-add-orderitem"
                               ng-click="addOrderItem()">添加订单项
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <a class="col-50 button button-big button-fill button-danger"
                       ui-sref="crm.hospital.order.list">取消
                    </a>
                    <button class="col-50 button button-big button-fill button-success"
                            type="submit">添加
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    .btn-add-orderitem {
        display: block;
        height: 2.2rem;
        line-height: 2.2rem;
    }
</style>