<!--医院：编辑归档信息-->
<div ng-show="!loading">
    <form name="form"
          ng-submit="resumeHospital(form)">
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title">开发医院</label>
                                <div class="item-after">{{hospital.name}}</div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="hospitalDescription">对接情况
                                </label>
                                <div class="item-input">
                                    <textarea name="hospitalDescription"
                                              id="hospitalDescription"
                                              required
                                              ng-model="hospital.hospitalDescription"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <label class="item-title label"
                                       for="scheduleDescription">开发进度
                                </label>
                                <div class="item-input">
                                    <textarea name="scheduleDescription"
                                              id="scheduleDescription"
                                              ng-model="hospital.scheduleDescription"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <a class="col-50 button button-big button-fill button-danger"
                       ui-sref="crm.hospital.info({id:hospital.hospitalId})">取消
                    </a>
                    <button class="col-50 button button-big button-fill button-success"
                            type="submit">保存
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>