<!--医院：编辑医院-->
<form name="form" ng-submit="createHospital()">
    <div class="content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">医院名称</div>
                            <div class="item-input">
                                <input type="text" placeholder="必填" required ng-model="hospital.name">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">所在地区</div>
                            <div class="item-input">
                                <input type="text" placeholder="选填" ng-model="hospital.area">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">地址</div>
                            <div class="item-input">
                                <input type="text" placeholder="选填" ng-model="hospital.address">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">坐标</div>
                            <div class="item-input">
                                <input type="number" class="col-50" placeholder="纬度" ng-model="hospital.loc.latitude"/>
                                <input type="number" class="col-50" placeholder="经度" ng-model="hospital.loc.longitude"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <a class="col-50 button button-big button-fill button-danger" ui-sref="hospital.info({id:hospital.id})"
                   ui-sref-opts="{reload:true}">取消</a>
                <button class="col-50 button button-big button-fill button-success" type="submit">保存</button>
            </div>
        </div>
    </div>
</form>