<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav"
                ng-if="!!config.title.title">
            <a class="icon btn-back pull-left"
               ng-if="!!config.title.back"
               ng-href="{{config.title.back}}">
                <i class="fa fa-arrow-left"></i>
                <span class="back-label">{{config.title.backtext}}</span>
            </a>
            <a class="icon btn-menu pull-right"
               ng-if="!!config.title.menu"
               ng-click="menu()"><i class="fa fa-bars"></i></a>
            <h1 class="title">{{config.title.title}}</h1>
        </header>
        <div class="content">
            <ui-view></ui-view>
        </div>
    </div>
</div>
<style>
    .btn-menu, .btn-back {
        height: 100% !important;
        padding: .6rem .8rem !important;
        margin-right: -.5rem;
        font-size: 1rem !important;
    }

    .btn-back {
        height: 100% !important;
        padding: .55rem .8rem !important;
        margin-left: -.5rem;
        margin-right: 0;
    }

    .back-label {
        font-size: .8rem;
        top: -.05rem;
        position: relative;
    }
</style>