<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav"
                ng-if="!!config.title.title">
            <a class="icon btn-back pull-left"
               ng-if="!!config.title.back"
               ng-href="{{config.title.back}}">
                <i class="fa fa-arrow-left"></i>
                <span class="back-label">{{config.title.backtext}}</span>
            </a>
            <a class="icon btn-menu pull-right"
               ng-if="!!config.title.menu"
               ng-click="menu()"><i class="fa fa-bars"></i></a>
            <h1 class="title">{{config.title.title}}</h1>
        </header>
        <ui-view class="content"></ui-view>
    </div>
</div>