<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav"
                ng-if="config.title.hastitle">
            <a class="icon btn-back pull-left"
               ng-if="config.title.hasback"
               ng-href="{{config.title.backurl}}">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="icon btn-menu pull-right"
               ng-if="config.title.hasmenu"
               ng-click="menu()"><i class="fa fa-bars"></i></a>
            <h1 class="title">{{config.title.title}}</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item"
               ui-sref="crm.home"
               ui-sref-active="active">
                <span class="icon">
                    <i class="fa fa-home"></i>
                </span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item"
               ui-sref="crm.hospital.list"
               ng-class="{'active':$state.includes('crm.hospital')}">
                <span class="icon">
                    <i class="fa fa-ambulance"></i>
                </span>
                <span class="tab-label">医院</span>
            </a>
            <a class="tab-item"
               ui-sref="crm.order.list"
               ng-class="{'active':$state.includes('crm.order')}">
                <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <span class="tab-label">订单</span>
            </a>
            <a class="tab-item"
               ui-sref="crm.order.list"
               ng-class="{'active':$state.includes('crm.order')}">
                <span class="icon">
                    <i class="fa fa-user"></i>
                </span>
                <span class="tab-label">我</span>
            </a>
        </nav>
        <div class="content">
            <ui-view></ui-view>
        </div>
    </div>
</div>
<style>
    .btn-menu, .btn-back {
        height: 100% !important;
        padding: .6rem .8rem !important;
        margin-right: -.5rem;
        font-size: 1rem !important;
    }

    .btn-back {
        height: 100% !important;
        padding: .55rem .8rem !important;
        margin-left: -.5rem;
        margin-right: 0;
    }
</style>