<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav" ng-if="config.title.hastitle">
            <a class="button pull-left" ng-if="config.title.hasback" ng-href="{{config.title.backurl}}">
                返回
            </a>
            <button class="button pull-right" ng-if="config.title.hasmenu" ng-click="menu()">
                菜单
            </button>
            <h1 class="title">{{config.title.title}}</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item" ui-sref="crm.home" ui-sref-active="active">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item" ui-sref="crm.hospital.list"
               ng-class="{'active':$state.includes('crm.hospital')}">
                <span class="icon icon-friends"></span>
                <span class="tab-label">医院</span>
            </a>
            <a class="tab-item" ui-sref="crm.order.list"
               ng-class="{'active':$state.includes('crm.order')}">
                <span class="icon icon-cart"></span>
                <span class="tab-label">订单</span>
            </a>
        </nav>
        <div class="content">
            <ui-view></ui-view>
        </div>
    </div>
</div>