<!--任务：所有任务-->
<div class="bar">
    <div class="searchbar">
        <div class="search-input">
            <label class="icon icon-search"
                   for="search"></label>
            <input type="search"
                   id="search"
                   ng-model="filter.no"
                   ng-enter="load(0)"
                   placeholder="订单序号" />
        </div>
    </div>
</div>
<div class="content"
     style="margin: 2.2rem 0 0;">
    <div class="card"
         ng-repeat="task in tasks">
        <div class="card-content">
            <div class="list-block">
                <ul>
                    <li>
                        <a class="item-link item-content"
                           ui-sref="crm.order.info({oid:task.id})">
                            <div class="item-media"><i class="icon icon-f7"></i></div>
                            <div class="item-inner">
                                <div class="item-title">{{task.no}}</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-block"
         ng-show="!loading&&hasmore">
        <p class="buttons-row">
            <button class="button button-big"
                    ng-click="loadMore()">加载更多
            </button>
        </p>
    </div>
</div>
<div class="popup popup-about">
    <div class="content-block">
        <p>About</p>
        <p>
            <a href="#"
               class="close-popup">Close popup
            </a>
        </p>
        <p>Lorem ipsum dolor ...</p>
    </div>
</div>
<style>
    .content-block {
        margin: .75rem 0;
        padding: 0 .5rem;
    }
</style>
